*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: Roboto,sans-serif;
}
body{
  /* background: url(spnsrshp.jpg)no-repeat top center;
  background-size: cover;
  height: 100vh; */
  /* background-color:#66D3FA; */
  background-image: linear-gradient(to right,#a18cd1 , #fbc2eb) ;

}
.levels{
  text-align: center;
}

.wrapper{
  position: relative;
  top: 500px;
  transform: translateY(-50%);
  width:100%;
  padding: 0 20px;
}
.contact-form{
  max-width: 550px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.8);
  padding: 30px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0 0 0 10px;
}
.input-fields{
  display: flex;
  flex-direction: column;

  margin-right: 4%;
}
.input-fields,
 .msg{
  width: 48%;
}
.input-fields .input,
.msg textarea{

 margin: 10px 0;
 background: transparent;
 border: 0;
 border-bottom: 2px solid #c5ecfd;
 padding: 10px;
 color: #c5ecfd;
 width:100%;
}
.msg textarea{
  height: 212px;
}
::-web-kit-input-placeholder{
  color: #c5ecfd;
}
::-moz-input-placeholder{
  color: #c5ecfd;
}
::-ms-input-placeholder{
  color: #c5ecfd;
}
.btn{
  background: #eb3007;
  cursor: pointer;
  color: #fff;
  text-align: center;
  border-radius: 15px;
  padding: 15px;
  height: 50px;
  width: 200px;
  text-transform: uppercase;
}
.btn a{
  text-decoration: none;
  color: #fff;
}
@media screen and (max-width:600px){
  .contact-form{
    flex-direction: column;
    margin-top:0;
    padding: 0;
    top: 0;
  }
  .msg-textarea{
    height: 80px;
  }
  .input-fields{
    width: 100%;
  }
  .levels{
    margin-bottom: 0;
  }
  .levels img{
    width: 500px;
  }

}
